body {
    background-image:radial-gradient(#FA8AFF,#96F1FF);
    width: 100%;
}

#body_home {
    font-family: "Bahnschrift";
}

footer {
    font-family: 'Bahnschrift';
    margin: 4px 0 0 10px;
}

.heading {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: bolder;
    margin: 2.5rem 0 3rem 8rem;
}

.container {
    height: 80vh;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px 140px 10px 160px;
}

.card {
    border: 1px solid #e2e2e2;
    border-radius: 18px;
    box-shadow: 2px 2px 4px grey, -2px -2px 4px whitesmoke;
    background-color: aliceblue;
    grid-column: span 1;
    padding: 10px 5px 0px 20px;
}

.card:hover {
    background-color: #f4deff;
    padding: 20px 5px 0px 22px;
}

.big {
    grid-column: span 2;
}

#pfp_icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.icon {
    width: 3rem;
    height: 3rem;
}

#pfp {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.slab_text {
    font-size: 20px;
}

.slab_text a {
    font-size: 15px;
    color: grey;
}

#hi {
    font-size: 31px;
    font-weight: bolder;
}

#hi a {
    font-weight: normal;
}

.loading {
    width: 200px;
    height: 120px;
    margin: 220px auto;
}

.loading img {
    width: 100%;
    height: 100%;
}

                        /*Media Queries for Home Page*/

@media (min-width: 978px) and (max-width: 1155px) {

    .heading {
        margin: 2.5rem 0 2rem 7rem;
    }
    
    .container {
        height: 80vh;
        margin: 20px 120px 10px 160px;
    }
    
    .card {
        padding: 10px 10px 0px 18px;
    }

    .card:hover {
        padding: 20px 10px 0 22px;
    }
}

@media (min-width: 810px) and (max-width: 979px){
    
    .heading {
        margin: 2rem 0 2rem 5rem;
    }
    
    .container {
        height: 80vh;
        margin: 20px 100px 10px 100px;
    }
    
    .card {
        padding: 8px 5px 0px 20px;
    }
    
    .card:hover {
        padding: 18px 5px 0px 22px;
    }
    
    #pfp_icon {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .icon {
        width: 2rem;
        height: 2rem;
    }
    
    #pfp {
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
    
    .slab_text {
        font-size: 18px;
    }
    
    .slab_text a {
        font-size: 14px;
    }
    
    #hi {
        font-size: 26px;
        font-weight: bolder;
    }    
}

@media (min-width: 600px) and (max-width: 810px){
    
    .heading {
        font-size: 55px;
        margin: 20px 0 0 80px;
    }

    .container {
        height: 160vh;
        margin: 20px 90px 10px 90px;
    }
    
    .card {
        grid-column: span 2;
        padding: 10px 5px 0px 20px;
    }
    
    .card:hover {
        background-color: #f4deff;
        padding: 20px 5px 0px 22px;
    }
    
    .big {
        grid-column: span 4;
    }
    
    .heading2 {
        color: rgb(0, 0, 0);
        font-size: 60px;
        font-weight: bolder;
        margin: 30px 0 0px 50px;
    }
    
    .heading2 a {
        text-decoration: none;
    }
    
    .back {
        width: 30px;
        height: 30px;
        margin: 30px 50px 0 50px;
    }
    
    .container2 {
        height: 100vh;
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 30px 120px 0px 120px;
    }
    
    .slab {
        grid-column: span 1;
        display: inline-block;
        border: 1px solid #e2e2e2;
        border-radius: 18px;
        box-shadow: 2px 2px 4px grey, -2px -2px 4px whitesmoke;
        background-color: aliceblue;
        padding: 0 12px 0 12px;
    }
    
    .large {
        grid-column: span 2;
    }
    
    .pfp {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 0;
    }
    
    #pfp_large {
        width: 90%;
        height: 90%;
        border-radius: 18px;
    }
    
    #hello {
        display: flex;
        align-items: center;
        font-weight: bolder;
        font-size: 37px;
        padding-left: 30px;
    }
    
    .slab_heading {
        font-size: xx-large;
        font-weight: bolder;
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    .slab_content {
        font-family: 'Calibri';
        text-align: justify;
        font-size: large;
    }
    
    #posts {
        padding-top: 30px; 
    }
    
    .loading {
        width: 200px;
        height: 120px;
        margin: 220px auto;
    }
    
    .loading img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 600px){
    
    .heading {
        font-size: 50px;
        margin: 2rem 0 1.5rem 5rem;
    }
    
    .container {
        height: 140vh;
        margin: 0px 80px 10px 80px;
    }
    
    .card {
        grid-column: span 2;
        padding: 10px 10px 0px 20px;
    }
    
    .card:hover {
        padding: 20px 10px 0px 22px;
    }
    
    .big {
        grid-column: span 4;
    }
    
    #pfp_icon {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    
    .icon {
        width: 2rem;
        height: 2rem;
    }
    
    #pfp {
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
    
    .slab_text {
        font-size: 18px;
    }
    
    .slab_text a {
        font-size: 14px;
        color: grey;
    }
    
    #hi {
        font-size: 26px;
        font-weight: bolder;
    }
    
    #hi a {
        font-weight: normal;
    }
    
    .heading2 {
        color: rgb(0, 0, 0);
        font-size: 60px;
        font-weight: bolder;
        margin: 30px 0 0px 50px;
    }
    
    .heading2 a {
        text-decoration: none;
    }
    
    .back {
        width: 30px;
        height: 30px;
        margin: 30px 50px 0 50px;
    }
    
    .container2 {
        height: 100vh;
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 30px 120px 0px 120px;
    }
    
    .slab {
        grid-column: span 1;
        display: inline-block;
        border: 1px solid #e2e2e2;
        border-radius: 18px;
        box-shadow: 2px 2px 4px grey, -2px -2px 4px whitesmoke;
        background-color: aliceblue;
        padding: 0 12px 0 12px;
    }
    
    .large {
        grid-column: span 2;
    }
    
    .pfp {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 0;
    }
    
    #pfp_large {
        width: 90%;
        height: 90%;
        border-radius: 18px;
    }
    
    #hello {
        display: flex;
        align-items: center;
        font-weight: bolder;
        font-size: 37px;
        padding-left: 30px;
    }
    
    .slab_heading {
        font-size: xx-large;
        font-weight: bolder;
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    .slab_content {
        font-family: 'Calibri';
        text-align: justify;
        font-size: large;
    }
    
    #posts {
        padding-top: 30px; 
    }
    
    .loading {
        width: 200px;
        height: 120px;
        margin: 220px auto;
    }
    
    .loading img {
        width: 100%;
        height: 100%;
    }
    
}
